<div class="row">
    <div class="col-12">
        <div class="documents-table container">
            <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">{{ 'Loading'|trans }}...</span>
            </div>
            <div class="container">
                <b class="found-count text-muted mr-5" style="display: none">{{ 'Found'|trans }}: <span class="cnt">0</span></b>
                <b class="text-muted">{{ 'Total spent'|trans }}: <span class="amount-fv">0</span></b>
                <span class="fa fa-pie-chart ml-1 chart-btn"></span>
            </div>
            <div class="container">
                <table class="table table-striped table-hover table-bordered table-success"
                       data-text="{{ 'No records found'|trans }}">
                    <thead>
                    <tr>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'Tags'|trans }}</th>
                        <th>{{ 'Price'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
